<div class="vertical-nav">
    <div class="top-row"></div>
    <div class="nav-item">
        <NavButton Text="Home" Route=""/>
    </div>
    <div class="nav-item">
        <NavButton Text="Teams" Route="/teams"/>
    </div>
</div>