@inherits LayoutComponentBase

<main class="page">
    <div class="top-row">
        <TopRow />
    </div>
    <div class="main-row">
        <div class="sidebar">
            <NavMenu />
        </div>
        <article class="content">
            @Body
        </article>
    </div>
</main>
