@page "/teams"

<title>Teams</title>

<h1>Teams</h1>

<TeamsList 
    Teams=State.Teams
    TeamsConfirmed=State.TeamsConfirmed
    SchedulesConfirmed=State.SchedulesConfirmed
    OnUpdateTeamData=UpdateTeamData />